/* 
2rem = 2*16px = 32px
1rem = 1*16px = 16px

*/

/* 
div = 10px

1em = 10px
2em = 20px

ياخد حجم الاب إللي جواه ولو مفيش ياخد html


*/

/* 

width : 50%vw
 من حجم الاب عرض

 height : 50%vh
 من حجم الشاشه

   width: calc(100% - 50px);

*/

div{
  background:red;
  
}
p{
  width: calc(100% - 50px);
  background: blue;

  
}